*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --backgorund-1:  #1f1f1f;
  --background-2: linear-gradient(45deg, #12c2e9,  #11998E, #38EF7D);
  --text-color: #ededed;
  --skew-angle1: -3deg;
  --skew-angle2: 3deg;
  --card-color: #e0e0e01a;
  --card-lighting: 1px solid #e1e1e11a;
  --card-shadow: 20px 20px 50px #00000080;
  --font-family: 'Poppins', sans-serif;
}


.wrapper {
   max-width: 50rem;
   margin-inline: auto;
   padding-inline: .2rem;
   /*border: .2rem solid white;*/
}

.header {
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   height: 20px;
   padding: 2rem 20%;
   background-color: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 9999;
   transition: .3s;
   background-color: var(--backgorund-1);
   font-size: 20px;
}

.navbar {
   position: relative;
}

.logo {
   position: relative;
   color: var(--text-color);
   font-weight: 600;
}

.navbar {
   position: relative;
}

.navbar a {
   color: var(--text-color);
   font-weight: 500;
   margin-left: 1.5rem;
   transition: .10s;
}

/*
.navbar a:hover,
.navbar a.active {
   background-image: var(--background-2);
   background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
*/

#menu-icon {
   font-size: 30px;
   color: var(--text-color);
   cursor: pointer;
   display: none;
}

.menu-icon-btn {
   display: none;
   margin-inline: auto;
   border-radius: 1rem;
   padding: 1rem;
   background: var(--card-color);
   border-top: var(--card-lighting);
   border-left: var(--card-lighting);
   box-shadow: var(--card-shadow);
}

body {
  background: var(--backgorund-1);
  color: white;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  font-family: var(--font-family);
}

section {
  padding-block: 5rem;
}

.home {
   padding: 30px 0px 110px 0px;
}

.home-content {
   margin: 1rem 30px;
   border-radius: 1rem;
   padding: 20px 30px 20px;
   background: var(--card-color);
   border-top: var(--card-lighting);
   border-left: var(--card-lighting);
   box-shadow: var(--card-shadow);
}

.home-content-text {
   text-align: center;
}

.home-content h1 {
   margin: 0;
   font-size: 3rem;
   font-weight: 700;
   line-height: 1.3;
   margin: 10px 0;
}

.home-content span {
   color: #303030;
   letter-spacing: 2px;
   text-shadow:
       1px 1px 0 #2ab660,
     -1px -1px 0 #2ab660,  
      1px -1px 0 #2ab660,
      -1px 1px 0 #2ab660,
       1px 1px 0 #2ab660;
}

.home-content h3 {
   font-size: 2rem;
   margin: 0;
   letter-spacing: 2px;
   color: #303030;
   text-shadow:
       1px 1px 0 #2ab660,
     -1px -1px 0 #2ab660,  
      1px -1px 0 #2ab660,
      -1px 1px 0 #2ab660,
       1px 1px 0 #2ab660;
}

.home-content p {
   margin: 0.9rem 0 1rem;
}

.btn-box {
   position: relative;
   display: flex;
   justify-content: space-between;
   width: 10.5rem;
   height: 4rem;
}

.btn-box .btn {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 15rem;
   height: 100%;
   border: .2rem solid white;
   border-radius: 1rem;
   color: var(--text-color);
   z-index: 1;
   overflow: hidden;
   transition: .5s;
   font-weight: 600;
   background: var(--background-1);
   font-size: 1.2rem;
}

.btn-box .btn:hover {
   color: var(--body-bg);
}

.btn-box .btn::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background: var(--background-2);
   z-index: -1;
   transition: .5s;
}

.btn-box .btn:hover::before {
   width: 100%;
}



.home-content-image img {
   height: auto;
   max-width: 200px;
   margin: 1rem;
   border-radius: 1rem;
   border: 10px solid rgba(225, 225, 225, 0.25);
   transform: translateZ(20px);
   z-index: 1;
}

.home-sci {
   position: relative;
   margin: 0rem 1rem 1rem 3rem;
   width: 200px;
   display: flex;
   justify-content: space-between;
   transform: translateZ(20px);
}

.home-sci a {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 55px;
   height: 55px;
   border: .2rem solid white;
   border-radius: 1rem;
   font-size: 30px;
   color: white;
   z-index: 1;
   overflow: hidden;
}

.home-sci a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: linear-gradient(90deg, #02AABD, #00CDAC);
   z-index: -1;
   transition: .5s;
}

.home-sci a:hover::before {
   width: 100%;
}

.skills {
   position: relative;
   isolation: isolate;
}

.skills h2 {
   margin: 30px 0;
   text-align: center;
}
 
.skills::after {
   content: '';
   background: var(--background-2);
   position: absolute;
   z-index: -1;
   inset: 0;
   transform: skewY(var(--skew-angle1));
}

.heading {
   font-size: 2.25rem;
}

.grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
   grid-gap: 2rem;
   padding: 20px 10px 20px;
}

.grid > div {
   padding: 1rem;
   display: grid;
   border-radius: 1rem;
   background: var(--card-color);
   border-top: var(--card-lighting);
   border-left: var(--card-lighting);
   box-shadow: var(--card-shadow);
   transition: .5s;
   transform-style: preserve-3d;
   transform: perspective(1000px);
   text-align: center;
   transform-style: preserve-3d;
   transform: perspective(1000px);
}

.grid span {
   font-size: 5rem;
   transform: translateZ(20px);
}

.grid h3 {
   font-size: 1.2rem;
   transform: translateZ(20px);
   margin: 0;
}
 
.grid > div::before {
  content: "";
  display: block;
}

.projects h2 {
   margin: 0px 0px 30px 0px;
   text-align: center;
}

.grid-projects {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 2rem;
}

.grid-projects > div {
   padding: 1rem;
   display: grid;
   border-radius: 15px;
   background: var(--card-color);
   border-top: var(--card-lighting);
   border-left: var(--card-lighting);
   box-shadow: var(--card-shadow);
   border-radius: 1rem;
   transition: .5s;
   transform-style: preserve-3d;
   transform: perspective(1000px);
   text-align: center;
   transform-style: preserve-3d;
   transform: perspective(1000px);
   cursor: pointer;
}

.grid-projects h3 {
   font-size: 1.2rem;
   transform: translateZ(20px);
   margin: 0;
   padding: 0px 0px 10px;
}
 
.grid-projects > div::before {
  content: "";
  display: block;
}

.project-image {
   max-width: 100%;
   height: auto;
   border-radius: 1rem;
   border: 10px solid rgba(225, 225, 225, 0.25);
}

.projects-content {
   max-width: 50rem;
   margin: 1rem 10px;
   border-radius: 1rem;
   padding: 20px 30px 60px;
   background: var(--card-color);
   border-top: var(--card-lighting);
   border-left: var(--card-lighting);
   box-shadow: var(--card-shadow);
}

.education {
   position: relative;
   isolation: isolate;
}

.education .heading {
   margin: 0px 0px 30px 0px;
}

.education h2 {
   margin: 0px 0px 30px 0px;
   text-align: center;
}

.education::after {
   content: '';
   background: var(--background-2);
   position: absolute;
   z-index: -1;
   inset: 0;
   transform: skewY(var(--skew-angle2));
}

.education-column .title {
   font-size: 1.9rem;
   margin: 0 0 1.5rem 5rem;
}

.education-column .education-box {
   position: relative;
   border-left: .2rem solid white;
   left: 1.5rem;
}

.education-box .education-content {
   position: relative;
   padding-left: 1.5rem;
   padding-right: 2rem;
}

.education-box .education-content::before {
   content: '';
   position: absolute;
   top: 0;
   left: -0.9rem;
   width: 1.5rem;
   height: 1.5rem;
   background: white;
   border-radius: 50%;
}

.education-content .content {
   position: relative;
   padding: 20px 30px 20px;
   border-radius: 1rem;
   margin-bottom: 3rem;
   overflow: hidden;
   border-top: var(--card-lighting);
   border-left: var(--card-lighting);
   box-shadow: var(--card-shadow);
   border-radius: 1rem;
   transition: .5s;
   transform-style: preserve-3d;
   transform: perspective(1000px);
}

.education-content .content:hover::before {
   width: 100%;
}

.education-content .content .year {
   font-size: 1.2rem;
   padding-bottom: .5rem;
}

.education-content .content .year i {
   padding-right: .5rem;
}

.education-content .content h3 {
   font-size: 1.5rem;
   margin: 0;
}

.education-content .content p {
   font-size: 1.2rem;
   padding-top: .25rem;
   margin: 10px 0px 0px 0px;
}

.contact-content h2 {
   margin: 0px 0px 30px 0px;
   text-align: center;
}

.contact-content {
   max-width: 50rem;
   margin: 1rem 10px;
   border-radius: 1rem;
   padding: 20px 30px 20px;
   background: var(--card-color);
   border-top: var(--card-lighting);
   border-left: var(--card-lighting);
   box-shadow: var(--card-shadow);
}

.contact-content form {
   max-width: 70rem;
   margin: 0 auto;
   text-align: center;
}

.contact-content form .input-box {
   position: relative;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}


.contact-content form .input-box .input-field {
   position: relative;
   width: 48%;
   margin: .8rem 0;
}

.contact-content form .input-box .input-field input{
   width: 100%;
   height: 4rem;
   padding: 1.5rem;
   font-size: 1.2rem;
   color: var(--text-color);
   background: transparent;
   border-radius: 1rem;
   border: .2rem solid white;
}

.contact-content form .textarea-field textarea {
   width: 100%;
   height: 100%;
   padding: 1.5rem;
   font-size: 1.2rem;
   color: var(--text-color);
   background: transparent;
   border-radius: 1rem;
   border: .2rem solid white;
}

.contact-content form .input-box .input-field input::placeholder,
.contact-content form .textarea-field textarea::placeholder {
   color: var(--text-color);
}

.contact-content form .focus {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: linear-gradient(90deg, #02AABD, #00CDAC);
   border-radius: 1rem;
   z-index: -1;
   transition: .5s;
}

.contact-content form .input-box .input-field input:focus~.focus,
.contact-content form .input-box .input-field input:valid~.focus,
.contact-content form .textarea-field textarea:focus~.focus,
.contact-content form .textarea-field textarea:valid~.focus{
   width: 100%;
}

.contact-content form .textarea-field {
   position: relative;
   margin: .8rem 0 2.7rem;
   display: flex;
}

textarea {
   font-family: inherit;
   font-size: 1.2rem;
}

.contact-content form .textarea-field textarea {
   resize: none;
}

.contact-content form .btn-box.btns .btn {
   cursor: pointer;
}

.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 14%;
   background: var(--block-color);
}

.footer-iconTop a {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border: .2rem solid white;
   border-radius: 1rem;
   font-size: 30px;
   color: white;
   z-index: 1;
   overflow: hidden;
}

.footer-iconTop a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: var(--background-2);
   z-index: -1;
   transition: .5s;
}

.footer-iconTop a:hover::before {
   width: 100%;
}

.footer-iconTop a i {
   font-size: 2.4rem;
   color: white;
   transition: .5s;
}

.footer-iconTop a:hover i {
   color: var(--body-bg);
}

.footer-sci {
   position: relative;
   width: 180px;
   display: flex;
   justify-content: space-between;
   transform: translateZ(20px);
}

.footer-sci a {
   position: relative;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border: .2rem solid white;
   border-radius: 1rem;
   font-size: 30px;
   color: white;
   z-index: 1;
   overflow: hidden;
}

.footer-sci a:hover {
   color: var(--body-bg);
}

.footer-sci a::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: var(--background-2);
   z-index: -1;
   transition: .5s;
}

.footer-sci a:hover::before {
   width: 100%;
}

@media (max-width: 2000px) {
   .header {
      padding: 2rem 14%;
   }
}

@media (max-width: 991px) {
   .header {
      padding: 2rem 4%;
   }

   section {
      padding: 5rem 4% 2rem;
   }

   

   .footer {
      padding: 2rem 4%;
   }
}

@media (max-width: 768px) {
   #menu-icon {
      display: block;
   }

   .navbar {
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem 4%;
      background: var(--backgorund-1);
      z-index: 1;
      transition: .25s ease;
      transition-delay:  .25s;
   }

   .navbar.active {
      transition-delay: 0s;
      left: 0;
   }

   .navbar a {
      display: block;
      font-size: 20px;
      margin: 2rem 0;
      transition: .25s ease;
      transition-delay: 0s;
   }

   .navbar.active a {
      transform: translateX(0);
      transition-delay: .25s;
   }
}

@media (max-width: 520px) {

   .home-content h1 {
      display: flex; 
      flex-direction: column;
      font-size: 2rem;
   }

   
   .home-content h3 {
      display: flex; 
      flex-direction: column;
      font-size: 1.5rem;
   }

   .home-content p {
      display: flex; 
      flex-direction: column;
      font-size: 1rem;
   }

   .home-sci {
      width: 160px;
   }

   .home-sci a {
      width: 38px;
      height: 38px
   }

   .grid span {
      font-size: 3.5rem;
   }
   .grid h3 {
      font-size: 1rem;
   }

   .education-column .title {
      font-size: 1.5rem;
      margin: 0 0 1.5rem 3.5rem;
   }

   .education-content .content .year {
      display: flex;
      font-size: 1rem;
   }

   .education-content .content .year i {
      font-size: 1.5rem;
   }

   .education-content .content h3 {
      font-size: 1.25rem;
      margin: 0;
   }

   .education-content .content p {
      font-size: 1rem;
      margin: 12px 0px 0px 0px;
   }

   .education-column .education-box {
      left: 0.25rem;
   }

   .education-box .education-content {
      padding-left: 1.25rem;
      padding-right: 1rem;
   }

   .contact-content form .input-box .input-field input{
      height: 3rem;
      font-size: 1rem;
   }

   .contact-content form .textarea-field textarea {
      font-size: 1rem;
   }
   .contact form .input-box .input-field {
      width: 100%;
   }

   .btn-box {
      height: 3rem;
   }

   .contact-content form .btn-box.btns .btn {
      width: 6rem;
   }
}

@media (max-width: 430px) {
   .grid-projects {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   }

   .home-content {
      padding: 20px 10px 20px 10px;
   }
}
